{% extends '::base.html.twig' %}

{% block content %}
    <h1>Créer une nouvelle page</h1>
    {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init() }}
{% endblock %}
