{% extends '::base.html.twig' %}

{% block content %}

    {% image '@RopiCMSBundle/Resources/public/img/ropi_map.png'  output="img/ropi_map.png" %}
        <img id="ropi" src="{{ asset_url }}" style="width:836px;height:528px" usemap="#ropiMap" />
    {% endimage %}

    <map name="ropiMap">
        <area shape="rect" data-name="equation,all" coords="30,74,316,183" href="Test" />
    </map>

    <div id="legende">
        <h1 id="ropi-caption-header">Le Ropi, en pratique</h1>
        <h3 id="ropi-caption-text">Le Ropi, la monnaie complémentaire à Mons et ses environs.</h3>
    </div>



{% endblock %}

{% block javascripts %}
    {% javascripts '@RopiCMSBundle/Resources/public/js/init_map.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block headJavascripts %}
    {{ parent() }}
    {% javascripts '@RopiCMSBundle/Resources/public/js/jquery.imagemapster.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}