{% extends "::base.html.twig" %}

{% block title %}Inscription {% endblock %}


{% block content %}
    <h1 class="souligné"> Inscription sur le site: </h1>

   {{  include("RopiIdentiteBundle:Inscription:inscriptionForm.html.twig") }}
    {{  include('RopiIdentiteBundle:Inscription:inscriptionFormIdentifiantWeb.html.twig') }}

{% endblock %}
