
<script type="text/javascript">
    $(function() {
        $( "#tabs" ).tabs({
            beforeLoad: function( event, ui ) {
                ui.jqXHR.fail(function() {
                    ui.panel.html(
                            "Impossible d'ouvrir cette TAB. Merci de nous signaler cette ereure." );
                });
            }
        });
    });
</script>

<h2>Veuillez l'adresse à laquelle vous souhaitez recevoir vos Ropi</h2>

<p>Vous recevrez un mail lorsque vos ropi auront été transmis au transporteur</p>


<div id="tabs">
    <ul>
        <li><a href="{{ path("commande_ajax_myAdresses") }}">Mes adresses enregistrées</a></li>
        <li><a href="{{ path("commande_ajax_addAdresse") }}">Ajouter une nouvelle adresse</a></li>
    </ul>
</div>




