<h2>Paiement par virement bancaire</h2>
<p>Afin de finaliser votre commande, merci de réaliser le virement bancaire suivant :</p>
<p>
    <ul>
    <li>
        Fonds de garantie du Ropi ASBL : BE29 5230 4710 2164
    </li>
    <li>
        Ropi ASBL - Rue de Ghlin, 24 à 7012 Mons
    </li>
    <li>
        Montant : {{ commande.prix }} €
    </li>
    <li>
        Communication structurée : {{ commande.comStructure }}
    </li>
</ul>
</p>