{% extends '::email.html.twig' %}

{% block content %}
    <h1>Votre commande sur Ropi.be</h1>
    <p>Votre commande est a présent terminée. La monnaie n'est pas neutre, et le fait de dépensser vos Ropi dans la région de Mons contribuera à la relocalisation de l'économie ainsi que la ré-appropriation de la monnaie.</p>
    <p>Au niveau pratique, voici un récapitulatif de votre commande ainsi que de votre moyen de paiement.</p>
    <p>Une copie de cette écran vous a été envoyé par mail</p>
    {{ include('RopiCommandeBundle:Default:_recapCommande.html.twig', {"commande" : commande}) }}
    {{ include( 'RopiCommandeBundle:Default:_' ~ commande.modeDePaiement.confirmation ~ '.html.twig', {"commande" : commande}) }}
    <p>Nous restons disponible</p>
    <p>L'équipe Ropi</p>
{% endblock %}