{% extends '::base.html.twig' %}

{% block content %}
    <h1>Commande de Ropi en ligne</h1>
    <p>Pour commander des ropis en ligne vous devez d'abord être inscrit comme membre de l'asbl (lien vers le formulaire de demande d'adhésion). Si vous êtes déjà membre, vous pouvez commander des Ropi en complétant le formulaire ci-dessous</p>
    {{ form(form) }}
{% endblock %}