/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/vendor/
/composer.phar
/web/bundles/
/nbproject/*
/web/css/*
/web/js/*
/web/fonts/*
/web/*.txt
composer.lock
/scripts/*
/app/cache/*
!app/cache/.gitkeep
/web/results.txt
/app/bootstrap.php.cache
/app/config/parameters.yml
.idea/*
