/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/vendor/
/composer.phar
/web/bundles/
/nbproject/*
/web/css/*
/web/img/ropi_map_ropi_map_1.png
/web/img/ropi_map.png
/web/js/*
/web/fonts/*
/web/*.txt
composer.lock
/scripts/*
/app/cache/*
!app/cache/.gitkeep
/web/results.txt
/app/bootstrap.php.cache
/app/config/parameters.yml
/.idea/
/web/images
/var/*
/web/uploads/*
/web/media/*
