{% extends '::base.html.twig' %}

{% block content %}
    <div id="global">
        <div id="gauche"><img id="logoCommerce" class="col-sm-12" src="{{ vich_uploader_asset(commerce, 'imageFile') }}" alt="{{ commerce.nom }}" /></div>
        <div id="droite"><h1>{{ commerce.nom }}</h1></div>
    </div>
    {{ commerce.description|raw }}
{% endblock %}