{% extends '::base.html.twig' %}

{% block content %}
    <h1>Mes commerces</h1>

    <p>Vous pouvez modifier un commerce en cliquant sur son nom</p>

    <table class="table  table-responsive">
        <tr>
            <th>Nom du commerce</th>
            <th>Validé par un administrateur ?</th>
            <th>Visible sur le site ?</th>
            <th>Nombre de vues</th>
            <th>Help</th>
        </tr>

        {% for commerce in commerces %}
            <tr>
                <td><a href="{{ path('commerce_update', { id: commerce.id, route: app.request.attributes.get('_route') }) }}">{{ commerce.nom }}</a></td>
                <td>{% if commerce.valide %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
                <td>{% if commerce.hasActifCotisation %}{% if commerce.valide and commerce.visible %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}{% else %}<span class=" glyphicon glyphicon-warning-sign" aria-hidden="true"></span> Cotisation{% endif %}</td>
                <td>xx</td>
                <td><ul>
                        <li>Mon commerce est mal localisé</li>
                        <li>Je souhaite retirer mon commerce</li>
                    </ul>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}