{% extends '::base.html.twig' %}

{% block content %}
    <h1>Formulaire d'inscription</h1>
    <p>
        Suite à votre inscription sur notre site en ligne, un représentant du Ropi prendra contact avec vous afin de vérifier l'élligibilité de votre commerce. Ensuite une rencontre sera prévue afin de vous expliquer les tenants et les abouttisants. L'inscription de votre commerce sera alors validée et disponible sur notre site Internet.
        <br \><br \>
        Merci d'avance de l'intêret porté.

    </p>
    {{ form(form) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ tinymce_init({})}}
{% endblock %}