
    {% for key,i in app.request.pathInfo |split('/') %}

        {% set i2 = i %}
        {% set i3 = "" %}
        {% set code = {'%20':" ",'%27':"'", '%c3%a9':'é','%c3%a0' :"à",'%c3%a8':"è",'%c3%a7':'ç'} %}

            {% for key,codes in code %}
                {% set nb = 0 %}
                {% set i3 = "" %}
                {% for valeur in i2|capitalize|split(key) %}

                {% if valeur != "" and nb > 0 %}

                    {%  set i3 = i3 ~codes~  valeur %}
                {% else %}
                    {%  set i3 = i3 ~  valeur %}
                {% endif %}
                    {% set nb = nb +1 %}
            {% endfor %}
                {%  set i2 = i3 %}
        {% endfor %}

        {% if i == " " or i == "" and key == 1 %}

        {% elseif i == " " or i == "" and app.request.pathInfo |split('/')|length > 1 %}
        {% elseif i == "page" or i == "Page" %}


        {% elseif  i =="app.php" %}
        {% elseif app.request.pathInfo |split('/')|length -1 == key %}
            <span class="badge">{{ i2 }}</span>
        {% else %}
    <span class="badge">{{ i2 }}</span> <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>

        {% endif %}
    {% endfor %}
