<h1>Les dernières informations</h1>
<ul>
{% for new in news %}


    <a href="{{ path('iola_corporation_news_detail',{'news':new.id }) }}"><li>{{ new.titre }}</li></a>
{% endfor %}
</ul>

<div id="ajax-start">
</div>
<ul id="ajax"></ul>

<div id="btn-ajax">

</div>


    <div class="btn btn-primary" onclick="aButtonPressed(4)" role="button">Voir les autres news</div>






    <script>
        var min = 1;
        function aButtonPressed(max){

            $.ajax({
                type: "POST",
                url: "{{path('iola_corporation_news_ajax_update')}}",
                dataType: "json",
                data: {"min": min, "max":max },

                cache: false,
                success:


                        function(data){
                            //data = JSON.parse(data1);

                            if(data.code == 200 || data.code == 100 && data.success){//dummy check
                                if (min == 1){document.getElementById('ajax-start').innerHTML = "<h4>Les autres news</h4>"; }
                                document.getElementById('ajax').innerHTML += data.ajaxnews;
                                if(data.code == 200 ){
                                    document.getElementById('btn-ajax').innerHTML ="";
                                }
                                min += max;



                            }

                        }});
        }

       // $( document ).load(aButtonPressed(2));

    </script>
