/*
Develloper par Adrien Huygens.
 Pour Ropi.Be
*/
/* 
    Created on : 27-mai-2015, 18:41:04
    Author     : Adrien Huygens <Adrien.huygens@gmail.com>
*/

header h1{
    color: #BBFFFF;
}
header{
    background-color: #000000;
    padding-left: 6%;
    
}

header .name {
   background-color: #112233; 
   margin-top: 15px;
   color: #BBFFFF;
   margin-right: 20px;
}
body{
    background-color: #003bb3;
}
nav{
    margin: 15px;
    
    }
nav{
    background-color: #000;
}
.container{
    background-color: #BBC;
}
