/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 mai 2015, 19:45:38
    Author     : Laurent Cardon <laurent.cardon@ropi.be>
*/



.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.margin-left{margin-left: 10px;}

.navbar-brand{
	height: inherit;
}

.souligné{
    text-decoration: underline;
}
/* Police personalisée*/
.center{

	margin-left:35%;
	margin-right: auto;
	width: auto;


}
@font-face {
    font-family: 'Rupture';
    src: url('/font/rupture-webfont.eot');
    src: url('/font/rupture-webfont.eot?#iefix') format('eot'),
         url('/font/rupture-webfont.woff') format('woff'),
         url('/font/rupture-webfont.ttf') format('truetype'),
         url('/font/rupture-webfont.svg#webfontgcwKlGj6') format('svg');
    font-weight: normal;
    font-style: normal;

}
.margin5{
	margin-left:10px ;
}
.content{
	margin-bottom: 20px;
}
/* Background */
body{ 
	background : url("/img/ROPI_WEB_BG_BL.png")fixed no-repeat;
	margin:0;
}

.img100 {
	width: 100%;
}

#global #gauche {
	float: left;
	max-width: 15%;
}

#global #droite {
	padding-left: 15%;
	text-align: center;
}

#logoCommerce {
	max-width: 100%;
	height: auto;
}

.logoCommerceView{
	max-height: 80px;
	width: auto;
}


.logo {
	text-align: center;
	width: 90%;
	height: auto;
}

.article {
	width : 100%;
	text-align: center;
}

.text-justified{
	text-align: justify;
	text-justify:inter-word;
}
.container{
	background-color: rgba(255, 255, 255,0.75);
	width:100%;
	box-shadow: 2px 2px 15px grey inset;
}

#logo{
	min-width:150px;
	max-width:300px;
}

#Global #gauche {
	float: left;
	with : 30%;
}

#Global #droite {
	padding-left: 60%;
}

#slogan{
	clear:both;
	display:block;
}

h1{
	font-family : rupture, Arial, Verdana, serif;
	font-size:1.5em;
}
h2{
	font-family : rupture, Arial, Verdana, serif;
	font-size:1.75em;
}
h3{
	font-size:1em;
}

/* VerticalSlider */

aside li {
	list-style:none;
}

#billets{
 	box-shadow : 0px 3px 2px gray; 
}

ul li img:hover{
	-webkit-transform: scale(1.10);
		-moz-transform: scale(1.10);
		-ms-transform: scale(1.10);
		-o-transform: scale(1.10);
			transform: scale(1.10);
}
ul li img{
	-webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
		-moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
		-ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
		-o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
			transition: all .5s cubic-bezier( .6, 2, .4, 1);
}
ul:hover li img:not(:hover){
	-webkit-filter: grayscale(1) blur(2px);
		-moz-filter: grayscale(1) blur(2px);
		-ms-filter: grayscale(1) blur(2px);
		-o-filter: grayscale(1) blur(2px);
			filter: grayscale(1) blur(2px);
}

#background_article {
	background-color: rgba(235,225,215,0.7);
	box-shadow: 2px 2px 2px gray inset;
	border-radius:20px;
        padding-bottom: 10px;
        padding-top: 20px;
}
.background_left {
	background-color: rgba(225,225,225,0.7);
	box-shadow: 2px 2px 2px gray inset;
	border-radius:20px;
	padding-bottom: 10px;
	padding-top: 20px;
}

form button{
    background-color:#f05028;
    border-radius: 10px;
}
#aside-left{
	margin-left:-30px;
}

.col-sm-12 #content{
	width:100%;
 }

#legende{
	position: absolute;
	min-height: 360px;
	top: 2px;
	background-color: rgba(235, 225, 215,1);
	padding:2.5%;
	padding-top:1.5%;
	border-radius:10px;
	box-shadow: 1px 1px 5px grey inset;
	visibility: hidden;

}
#carte2{
	
	margin-top: 10px;
}
#carte{

	position: relative;
	display:block;
	margin-top: 0px;
	min-height: 370px;
	margin-bottom: 20px;

}
h2{

	margin-top: inherit;
}

#ropi-caption-header{
	color:#f05028;
}


#blog{
	margin-top: 50px;
	width:80%;
}

#nav-foot li{
	list-style:none;
	display:inline-block;
	font-size:0.75em;
	padding-right:5px;
	border-right: solid 1px black;
}

#nav-foot li:last-child  {
	border-right: inherit;
}

#nav-foot a:hover {
	text-decoration: none;
	color:#39599d;
}

a{
	text-decoration:none;
	color:#57C8FA;
}

.col-sm-9  div{
	margin-top:15%;
}


#copyright {
	font-family : rupture, Arial, Verdana, serif;
	float:right;
        padding-top:10px;
        margin-right:0;
}
.navbar-default{
    border-color: #efbd72;
    border-width:  3px;
    border-radius: 10px;
    margin-left:  20px;
    margin-right:  20px;
    background-image: linear-gradient(rgb(240,190,115),rgb(255,220,140)45%,rgb(255,220,135),rgb(220,170,100));
  
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(255,220,140,0.5);
    
}
.dropdown-menu {
   background-image: linear-gradient(rgb(250,200,125),rgb(255,220,140)45%,rgb(220,170,100));
   border-radius: 7px;
   border-color:  #efbd72;
   border-style: outset; 
}
.foot{
    
     border-color: #efbd72;
    border-width:  3px;
    border-radius: 10px;
    margin-left:  30px;
    margin-right:  100px;
    background-image: linear-gradient(rgb(240,190,115),rgb(255,220,140)45%,rgb(255,220,135),rgb(220,170,100));
  
}

#nav-foot{
  
    padding-top: 7px;
    
}