{% extends 'email.html.twig' %}

{% block content %}
    <h1>Votre nouveau commerce {{ commerce.nom }}</h1>
    <p>Votre demande de création d'un commerce nous est bien parvenue. Nous nous réjouissons d'accueillir un nouveau membre prestataire dans le réseau Ropi !</p>
    <p>Avant de pouvoir confirmer votre demande et rendre votre commerce visible au public sur le site web, nous évaluons votre demande et prendrons contact avec vous afin de se rencontrer et signer la convention entre votre commerce et l'asbl Ropi.</p>
    <p>
        Entre-temps, pouvez-vous prendre connaissance des documents suivants ?
        <ul>
            <li>[la convention](https://github.com/RopiMons/RopiDocs/raw/master/Conventions/RopiAdhesionMembre1%262.pdf)</li>
            <li>[la charte](https://github.com/RopiMons/RopiDocs/raw/master/Charte/RopiCharte.pdf)</li>
            <li>[le règlement d'ordre intérieur](https://github.com/RopiMons/RopiDocs/raw/master/ROI/RopiROI.pdf)</li>
            <li>[la clef d'adhésion](https://github.com/RopiMons/RopiDocs/raw/master/ROI/RopiCleAdhesion.pdf)</li>
        </ul>
    </p>

    <p>Afin de valider votre adhésion, veuillez verser une cotisation de {% if commerce.college.numero == 2 %}*[cotisationAssociationEuro]{% else %}*[cotisationPrestataireEuro]{% endif %} € sur le fonds de garantie de l'asbl Ropi *[compteFondGarantie] avec en communication "Cotisation nom du commerce".</p>
    <p>Alternativement, vous pouvez choisir de payer votre cotisation directement en Ropi. Le montant de la cotisation est de {% if commerce.college.numero == 2 %}*[cotisationAssociationRopi]{% else %}*[cotisationPrestataireRopi]{% endif %} Ropi et pourra être transmise à un bénévole lors de son passage. Si vous n'avez pas encore de Ropi, vous pouvez les commander par internet via Mon espace Ropi -> [Commander des Ropi](https://www.ropi.be/page/Actions/Commander%20des%20Ropi).</p>
    <p>Une fois votre commerce validé, pouvez-vous aussi contrôler que la [localisation géographique (GPS)](https://www.ropi.be) de votre commerce, basée sur l'adresse que vous avez introduite, est bien correcte ? Dans le cas contraire, nous pourrons faire la correction nécessaire lors de notre rencontre.</p>
    <p>
    A très bientôt,
    L'équipe Ropi
    </p>
{% endblock %}









