{% extends '::base.html.twig' %}
{% block title %}
    Connexion
   {%endblock %}
{% block content %}    
   
     {% if error %}
        <div class="alert alert-warning" role="alert">{{ error.message |trans ({}, 'messages')  }}</div>
    {% endif %}
    {{ include('RopiAuthenticationBundle:Authenticate:loginForm.html.twig', {'last_username': last_username}) }}
    <br \>
    <a href="{{path('ropi_inscription')}}" title="Inscription"> <div class="btn btn-primary" role="button">Inscription</div></a>
    <br \><br \>
    <a href="{{ path('forget_pass') }}"><div class="btn btn-primary" role="button">J'ai oublié mon mot de pase</div></a>
{% endblock %}
