{% extends '::base.html.twig' %}

{% block titrePage %}
    Accueil
{% endblock %}
{% block content %}
  
    {% if notification is defined and notification != null %}
    <div class="panel panel-default">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
            {% for notif in notification  %}
                {% include notif.vue with {'parametre': notif.parametre}  %}
            {% endfor %}
        </div>
    </div>
        {% endif %}
        <h1>Menu temporaire - A toi de jouer Fa</h1>
        <ul>
            <li> <a href="{{ path("CMS_static_create") }}">Ajouter une page CMS</a></li>
            <li><a href="{{ path("CMS_static_update") }}">Modifier une page existante</a></li>
        </ul>
    <br />
   
{% endblock %}