{% extends '::base.html.twig' %}

{% block titrePage %}
    Accueil
{% endblock %}
{% block content %}
  
    {% if notification is defined and notification != null %}
    <div class="panel panel-default">
        <div class="panel-heading">Notifications</div>
        <div class="panel-body">
            {% for notif in notification  %}
                {% include notif.vue with {'parametre': notif.parametre}  %}
            {% endfor %}
        </div>
    </div>
        {% endif %}
        <h1>Bienvenue sur l'espace privé du Ropi !</h1>
        <p>Comme tu peux le voir, la transparence est de mise et on ne te cache pas grand chose ...</p>
        <p>Cependant, tu trouveras des fonctionnalités supplémentaires dans le menu "Mon espace Ropi".</p>
        <p>Nous te souhaitons une très belle visite.</p>
        <p>L'équipe Ropi</p>
    <br />

{% endblock %}