{% extends "::base.html.twig" %}

{% block title %}Mon compte ajouter un contact{% endblock %}


{% block content %}
    <h1 class="souligne"> Nouveau contact </h1>
  {{ form(form) }}


{% endblock %}